.icon {
  margin-right: 8px; /* Ajustez la marge à votre convenance */
}

.assignment-status {
  padding: 10px 20px;
  background-color: #f8f8f8;
  text-align: center;
  display: flex; /* Utilisation de flexbox pour aligner les icônes et le texte */
  align-items: center;
}

.assignment-status.not-done {
  background-color: #ffe0e0;
}

.assignment-status.done {
  background-color: #e0ffe0;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Espacement en bas de la barre de filtre */
}

.filter-container label,
.filter-container select {
  width: 80%; /* Ajustez la largeur des champs de filtre selon vos besoins */
}

.filter-container label {
  text-align: left; /* Alignez le texte à gauche */
}

.filter-container select {
  text-align: right; /* Alignez le texte à droite */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease;

  font-size: 16px;
  color: #333;
}

.search-input:focus {
  outline: none;
  border-color: #aaa;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}


.assignments-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .assignment-card {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .assignment-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
  
  .assignment-content {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  
  .assignment-text {
    flex-grow: 1;
  }
  
  .assignment-title {
    margin-top: 0;
    color: #333;
  }
  
  .assignment-info p {
    margin: 5px 0;
    color: #666;
  }
  
  .assignment-status {
    padding: 10px 20px;
    background-color: #f8f8f8;
    text-align: center;
  }
  
  .assignment-status.not-done {
    background-color: #ffe0e0;
  }
  
  .assignment-status.done {
    background-color: #e0ffe0;
  }
  
  strong {
    font-weight: bold;
  }
  