/* CSS */

.mat-toolbar {
    font-size: 18px;
    background-color: rgb(122, 58, 218);
    color: rgb(255, 255, 255);
}

.mat-toolbar-row {
    display: flex;
    align-items: center;
}

.mat-toolbar-row button {
    margin-right: 16px;
}



.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    width: 20%;
    background-color: rgb(235, 217, 245);
}

.medium-button {
    font-size: 16px;
    margin: 8px;
    width: 250px;
    background-color: rgb(214, 143, 250);
}


