<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button (click)="toggleSidebar()"> <mat-icon> menu </mat-icon> </button>
        <button mat-button routerLink="/home" ><mat-icon> home </mat-icon> Home </button>
        <span class="spacer"></span>
        <ng-container *ngIf="!isLoggedIn()">
            <button mat-button routerLink="/login" >
                <mat-icon>account_circle</mat-icon>Login
            </button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn()">
            <button mat-button (click)="logout()" >
                <mat-icon>account_circle</mat-icon>Logout
            </button>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="isSidebarOpened" mode="side">
        <mat-nav-list>
            <button mat-raised-button class="medium-button" color="primary" (click)="closeSidebar()" routerLink="/home">Liste de devoirs</button>
            <button mat-raised-button class="medium-button" color="primary" (click)="closeSidebar()" routerLink="/profs">Liste des professeurs</button>
            <button mat-raised-button class="medium-button" color="primary" (click)="handleAdminClick('/add')">Ajout d'un devoir</button>
            <button mat-raised-button class="medium-button" color="primary" (click)="handleAdminClick('/generate')">Génération de données de test</button>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
