/* assignment-detail.component.css */

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.assignment-detail-container {
    display: flex;
    justify-content: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 80%;
    max-width: 1000px;
}

.content {
    max-width: 70%;
}

.image-container {
    max-width: 30%;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
}

button {
    font-size: 18px;
    margin: 10px;
    min-width: 150px;
    padding: 15px;
}

button.edit-btn {
    background-color: #b179e9;
    color: black;
}

button.edit-btn[disabled]{
    background-color: #ccc;
    color: #999;
}

button.delete-btn {
    background-color: #e38d87;
    color: black;
}

button.delete-btn[disabled]{
    background-color: #ccc;
    color: #999;
}

button.back-btn {
    background-color: #85c1f2;
    color: black;
}
