<mat-card class="add-assignment-container">
    <mat-card-header>
      <mat-card-title>Ajout d'un nouveau devoi</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="addAssignment()">
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput type="text" id="nom" [(ngModel)]="nom" name="nom" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Matière</mat-label>
            <input matInput type="text" id="matiere" [(ngModel)]="matiere" name="matiere" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Professeur</mat-label>
            <input matInput type="text" id="prof" [(ngModel)]="prof" name="prof" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date de Rendu</mat-label>
            <input matInput type="date" id="daterendu" [(ngModel)]="daterendu" name="daterendu" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Ajout devoir</button>
      </form>
    </mat-card-content>
</mat-card>
