<mat-sidenav-container>
    <mat-sidenav [(opened)]="isSidebarOpened" mode="side">
        <mat-list>
            <mat-list-item> Liste de devoirs</mat-list-item>
            <mat-list-item> Ajout d'un devoir</mat-list-item>
            <mat-list-item> Modification d'un devoir</mat-list-item>
            <mat-list-item> Suppression d'un devoir</mat-list-item>
            <mat-list-item> Génération de données de test</mat-list-item>
        </mat-list>
    </mat-sidenav>
</mat-sidenav-container>
